<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsistenciaTecnica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsistenciaTecnica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <AsistenciaTecnica.Properties.Settings>
            <setting name="maxLengthPasswd" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="minLengthPasswd" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="modoDesarrollo" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="situacionCierre" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="departamentoTecnico" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="perfilAdministrador" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="servidorBBDD" serializeAs="String">
                <value>dataserverincidencias.database.windows.net</value>
            </setting>
            <setting name="usuarioBBDD" serializeAs="String">
                <value>adminserver</value>
            </setting>
            <setting name="claveBBDD" serializeAs="String">
                <value>Damfp2019</value>
            </setting>
            <setting name="databaseBBDD" serializeAs="String">
                <value>bdproyecto</value>
            </setting>
        </AsistenciaTecnica.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AsistenciaTecnica.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>login</value>
            </setting>
            <setting name="nombreUsuario" serializeAs="String">
                <value>nombre</value>
            </setting>
            <setting name="fuenteTextBox" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="fuenteTextBlock" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="botonExterno" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="botonInterno" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="situacionEnReparacion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="perfilUsuario" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fechaPrevista" serializeAs="String">
                <value>1</value>
            </setting>
        </AsistenciaTecnica.Properties.Settings>
    </userSettings>
</configuration>