<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsistenciaTecnica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GestionCines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsistenciaTecnica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GestionCines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <AsistenciaTecnica.Properties.Settings>
            <setting name="maxLengthPasswd" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="minLengthPasswd" serializeAs="String">
                <value>8</value>
            </setting>
        </AsistenciaTecnica.Properties.Settings>
        <GestionCines.Properties.Settings>
            <setting name="empresa" serializeAs="String">
                <value>Cines del Sureste S.A.</value>
            </setting>
            <setting name="endpoint" serializeAs="String">
                <value>https://dint2021.azurewebsites.net/api</value>
            </setting>
        </GestionCines.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AsistenciaTecnica.Properties.Settings>
            <setting name="formaDePago" serializeAs="String">
                <value>Bizum</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>login</value>
            </setting>
            <setting name="nombreUsuario" serializeAs="String">
                <value>nombre</value>
            </setting>
            <setting name="fuenteTextBox" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="fuenteTextBlock" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="botonExterno" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="botonInterno" serializeAs="String">
                <value>28</value>
            </setting>
        </AsistenciaTecnica.Properties.Settings>
        <GestionCines.Properties.Settings>
            <setting name="formaDePago" serializeAs="String">
                <value>Bizum</value>
            </setting>
        </GestionCines.Properties.Settings>
    </userSettings>
</configuration>